<div class="any-list--panel" id="list_<%= list.id %>">
  <div class="sticky top-0 bg-white pt-6">
    <h3 class="truncate"><%= list.name %></h3>
    <hr class="mt-1">
  </div>
  <div class="pt-2">
  </div>
  <div class="bg-white py-2">
    <form class="flex items-center border-b border-b-2 border-teal-500 mb-4 pb-1">
      <input class="any-text-input" type="text" placeholder="Add new item">
    </form>
  </div>
</div>
