<div class="px-8 pb-8 relative">
  <form class="flex items-center border-b border-b-2 border-teal-500 mb-4 pb-1">
    <input autocomplete="off" name="name" class="any-text-input" type="text" placeholder="New list name">
    <button type="submit" class="flex-shrink-0 any-button">Create</button>
  </form>
</div>
