# Servers and hosts
# Comma-separated list of web app host IPs or hostnames
WEB_HOSTS=192.0.2.10,192.0.2.11
RPC_HOSTS=rpc1.example.com,rpc2.example.com

# Comma-separated list AnyCable-Go hosts
WS_HOSTS=192.0.2.14,192.0.2.15
REDIS_HOST=192.0.2.16
DB_HOST=db.example.com

# Proxy domains
PROXY_HOST=app.example.com
WS_PROXY_HOST=websocket.example.com

# WebSocket allowed origins
WS_ALLOWED_ORIGINS="*.example.com,*.another_example.com"

# Docker registry credentials
KAMAL_REGISTRY_SERVER=registry.domain.com
KAMAL_REGISTRY_USERNAME=username-registry
KAMAL_REGISTRY_PASSWORD=password-registry

# Database and Redis credentials & URLs
POSTGRES_PASSWORD=VeryStrongPassword!
DATABASE_URL=postgres://postgres:${POSTGRES_PASSWORD}@${DB_HOST}:5432/db_name
REDIS_PASSWORD=VeryStrongPassword

# Build arguments for your Dockerfile
RUBY_VERSION=3.3.0
PG_MAJOR=16
NODE_MAJOR=18
YARN_VERSION=latest

# App user inside containers
APP_USER=app_user
