# frozen_string_literal: true

class <%= class_name %>::Preview < <%= preview_parent_class %>
  # Specify default locals (e.g., container_class)
  # self.default_locals = {
  #  container_class: "w-1/2 border border-gray-300"
  # }

  def default
  end
end
