<div class="any-panel-wide">
  <div class="mb-4">
    <div class="any-banner" role="alert" data-controller="banner" data-banner-id="welcome">
      <svg data-action="click->banner#close" class="any-banner--btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2zm0 2v14h14V5H5zm8.41 7l1.42 1.41a1 1 0 1 1-1.42 1.42L12 13.4l-1.41 1.42a1 1 0 1 1-1.42-1.42L10.6 12l-1.42-1.41a1 1 0 1 1 1.42-1.42L12 10.6l1.41-1.42a1 1 0 1 1 1.42 1.42L13.4 12z"/></svg>
      <p class="font-bold">Welcome to AnyCable demo app—AnyWork!</p>
      <p>AnyWork allows you to create <em>workspaces</em> containing one or many TODO lists and, of course,
      a chat (because no real-time framework demo could exist without chats 😉).</p>
      <p>All changes within a workspace are propagated to all the open pages (aka connected clients), so everyone stays in sync.</p>
    </div>
  </div>
  <div id="choose">
    <h2 class="mb-2">Choose workspace</h2>
    <div class="flex items-center">
      <div>Open </div><%= link_to "Demo", workspace_path(:demo), class: "any-button-outlined ml-2 mr-2 no-underline" %>
      <div>workspace or </div>
      <%= link_to "Create", new_workspace_path, class: "any-button-outlined ml-2 mr-2 no-underline" %>
      <div> a new one!</div>
    </div>
  </div>
  <div id="recent" class="mt-10" data-controller="workspaces--recent">
    <h2 class="mb-2">Recently viewed workspaces</h2>
  </div>
</div>
