<div class="any-panel-wide">
  <div class="mb-4">
    <%= render Banner::Component.new(id: "welcome") do %>
      <p class="font-bold">Welcome to AnyCable demo app—AnyWork!</p>
      <p>AnyWork allows you to create <em>workspaces</em> containing one or many TODO lists and, of course,
      a chat (because no real-time framework demo could exist without chats 😉).</p>
      <p>All changes within a workspace are propagated to all the open pages (aka connected clients), so everyone stays in sync.</p>
    <% end %>
  </div>
  <div id="choose">
    <h2 class="mb-2">Choose workspace</h2>
    <div class="flex items-center">
      <div>Open </div><%= link_to "Demo", workspace_path(:demo), class: "any-button-outlined ml-2 mr-2 no-underline" %>
      <div>workspace or </div>
      <%= link_to "Create", new_workspace_path, class: "any-button-outlined ml-2 mr-2 no-underline" %>
      <div> a new one!</div>
    </div>
  </div>
  <div id="recent" class="mt-10" data-controller="workspaces--recent">
    <h2 class="mb-2">Recently viewed workspaces</h2>
  </div>
</div>
