KAMAL_REGISTRY_PASSWORD=$KAMAL_REGISTRY_PASSWORD

POSTGRES_PASSWORD=$POSTGRES_PASSWORD
REDIS_PASSWORD=$REDIS_PASSWORD
DATABASE_URL=$DATABASE_URL

RAILS_MASTER_KEY=$(cat config/credentials/production.key)
