<div class="absolute mt-1 w-full">
  <div class="flex justify-center">
    <%= render FlashAlert::Component.new(type: "notice", body: flash[:notice]) %>
    <%= render FlashAlert::Component.new(type: "alert", body: flash[:alert]) %>
  </div>
</div>
