<div data-turbolinks-permanent="true" data-controller="chat" data-chat-id="<%= workspace.to_param %>" id=<%=dom_id(workspace, "chat")%> class="chat lg:sticky top-0 any-panel h-screen-50 lg:h-screen-75 overflow-y-scroll">
  <div class="any-banner mb-4" role="alert" data-controller="banner" data-banner-id="chat">
    <svg data-action="click->banner#close" class="any-banner--btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2zm0 2v14h14V5H5zm8.41 7l1.42 1.41a1 1 0 1 1-1.42 1.42L12 13.4l-1.41 1.42a1 1 0 1 1-1.42-1.42L10.6 12l-1.42-1.41a1 1 0 1 1 1.42-1.42L12 10.6l1.41-1.42a1 1 0 1 1 1.42 1.42L13.4 12z"/></svg>
    <p class="font-bold">Let's chat!</p>
    <p>This is a very basic chat which allows you to communicate in real-time with other user.</p>
    <p>The messages <strong>are not persistent</strong>, i.e., there is no history, just broadcasting message to now-connected clients.</p>
    <br/>
    <p>All chat server-side business-logic lives in the <code>ChatChannel</code> class.</p>
  </div>
  <h1 class="truncate sticky top-0"><%= workspace.name %></h1>
  <hr class="mt-1">
  <div id="chat--messages" class="messages overflow-y-scroll flex flex-col" data-target="chat.messages">
    <p class="text-gray-300 w-full text-center my-4" data-target="chat.placeholder">You will receive new messages as they come</p>
  </div>
  <div class="sticky bottom-0 inset-auto left-0 right-0 bg-white py-4 bg-opacity-90">
    <form data-action="chat#send" class="flex items-center border-b border-b-2 border-teal-500 mb-4 pb-1">
      <input autocomplete="off" data-target="chat.input" name="message" class="any-text-input" type="text" placeholder="Type message">
      <button type="submit" class="flex-shrink-0 any-button">Send</button>
    </form>
  </div>
</div>
