<any-chat-message class="chat--msg rounded text-sm lg:text-base border p-2 mt-2 flex flex-col" data-author-id="<%= user_id %>">
  <%= message %>
  <span data-role="author" class="chat--msg--author text-xs lg:text-sm truncate"><%= name %></span>
</any-chat-message>
